<ion-view title="Dashboard">
    <ion-header-bar class="bar-royal">
        <h1 class="title">What you've recorded</h1>
    </ion-header-bar>
    <ion-content>
        <ion-list click-for-options-wrapper>
            <ion-item class="item-icon-right" click-for-options
                      ng-repeat="record in dashboard.records" media-player audio-track="record.audioUrl" video-track="record.videoUrl">
                <span>{{ record.id }}</span>
                <audio-player name="{{ record.id }}">
                    <visualizer options="dashboard.visualizerOptions"></visualizer>
                </audio-player>
                <ion-option-button class="button-light"
                                   ng-click="dashboard.remove($event,record,$index)">
                    <i class="icon ion-ios7-trash-outline assertive"></i>
                </ion-option-button>
                <ion-option-button class="button-light"
                                   ng-click="edit(item)">
                    <i class="icon ion-ios7-pulse-strong royal"></i>
                </ion-option-button>
                <ion-option-button class="button-light"
                                   id="record.id"
                                   play
                                   options="dashboard.playOptions">
                    <i class="icon royal"></i>
                </ion-option-button>

                <!--<i class="icon ion-ios7-volume-high" ng-show="isPlaying"></i>-->
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
