<ion-modal-view>
    <ion-content>
        <div class="button-bar" style="width:100%;">
            <a class="button button-outline ion-ios7-cloud-upload-outline button-royal" ng-click="save(record)"></a>
            <a class="button button-outline ion-ios7-download-outline button-royal" download-blob name="test.ogg"></a>
            <a class="button button-outline ion-ios7-trash-outline button-royal" ng-click="cancel()"></a>
        </div>
        <label class="item item-input item-floating-label">
            <span class="input-label">Title</span>
            <input type="text" placeholder="Title" ng-model="record._id">
        </label>
        <label class="item item-input">
            <textarea placeholder="Description" ng-model="record.description" rows="5"></textarea>
        </label>
        <preview-player></preview-player>
    </ion-content>
</ion-modal-view>